{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if about_banner %}
<section class="module contact-page-header bg-dark">
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <div class="col-sm-6 col-sm-offset-3 text-center banner-container">
                <h2 class="module-title font-alt">{{ about_banner.title }}</h2>
                <div class="module-subtitle font-serif">{{ about_banner.description|safe }}</div>
            </div>
        </div>
    </div>
</section>

<style>
/* Prevent horizontal scroll */
html, body {
    overflow-x: hidden;
}

.contact-page-header {
    position: relative;
    width: 100%;
    min-height: 380px;
    background-image: url('{{ about_banner.image.url }}');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.banner-container {
    position: absolute;
    top: 70%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.module-title, .module-subtitle {
    color: white;
}

@media(min-width: 768px) {
    .col-sm-offset-3 {
        margin-left: 0%;
    }
}

/* Mobile responsiveness */
@media only screen and (max-width: 500px) {
    .contact-page-header {
        min-height: 200px;
    }

    .module-title {
        font-size: 1.5em;
    }

    .module-subtitle {
        font-size: 1em;
    }
}

/* Desktop responsiveness */
@media only screen and (min-width: 768px) {
    .banner-container {
        width: 100%;
        max-width: 800px;
        text-align: center;
    }

    .module-title, .module-subtitle {
        max-width: 100%;
    }
}
</style>

{% else %}
<p>No banner available.</p>
{% endif %}

<br/><br/>

<!-- Sustainability About Section -->
{% for about_item in about_items %}
<section class="module pt-0 pb-0" id="about" style="margin-bottom: 50px;">
    <div class="row position-relative align-items-center m-0">
        <!-- Image Section -->
        <div class="col-xs-12 col-md-6">
            <img src="{{ about_item.image.url }}" alt="Sustainability Image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0px;">
        </div>
        <!-- Text Section -->
        <div class="col-xs-12 col-md-6 side-image-text" style="padding: 20px;">
            <h2 class="module-title font-alt" style="color: #333; font-weight: bold; text-align:left;">{{ about_item.title }}</h2>
            <p>{{ about_item.short_desc|safe }}</p>
            <p>{{ about_item.description|default:""|safe }}</p>
            <a class="btn btn-border-w btn-round" href="{{ about_item.link }}" style="background-color:black;">Learn More</a>
        </div>
    </div>
</section>
{% endfor %}
<br/><br/>

{% endblock %}
