{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Banner Section -->
{% if banners %}
<section class="module bg-dark-60 contact-page-header bg-dark"
         style="background-image: url({{ banners.0.image.url }});
         background-size: cover;
         background-position: center;
         width: 100%;
         height: auto;
         min-height: 300px;">
    <div class="container">
        <div class="row" style="margin-top:5%">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">{{ banners.0.title }}</h2>
                <div class="module-subtitle font-serif">{{ banners.0.description|safe }}</div>
            </div>
        </div>
    </div>
</section>
{% else %}
<p class="text-center">No banners available.</p>
{% endif %}
<br/><br/>

<!-- Accessories Section -->
{% if accessories %}
{% for accessory in accessories %}
<section class="module pt-0 pb-0">
    <div class="row position-relative m-0">
        <div class="col-xs-12 col-md-6 side-image"
             style="background-image: url({{ accessory.image.url }}); background-size: cover; background-position: center;">
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="module-title font-alt align-left">{{ accessory.title }}</h2>
                    <div class="module-subtitle font-serif align-left">{{ accessory.short_desc|safe }}</div>
                    <p>{{ accessory.description|safe }}</p>
                    <a href="{{ accessory.link }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
{% endfor %}
{% else %}
<p class="text-center">No accessories available.</p>
{% endif %}

{% endblock %}
