{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'buying/images/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'buying/images/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'buying/images/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'buying/images/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'buying/images/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'buying/images/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'buying/images/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'buying/images/favicons/apple-icon-152x152.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'buying/images/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'buying/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'buying/images/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'buying/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'buying/images/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Default stylesheets-->
    <link href="{% static 'buying/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'buying/lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'buying/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'buying/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
    <link href="{% static 'buying/lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'buying/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'buying/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'buying/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'buying/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{% static 'buying/css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'buying/css/colors/default.css' %}" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">Titan</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right" style="font-size:12px !important;">
              <li class="dropdown"><a href="/"><b>Home</b></a></li>
              <li class="dropdown"><a href="/about"><b>About Us</b></a></li>

              <li class="dropdown"><a class="dropdown-toggle" href="/services" data-toggle="dropdown"><b>Services</b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/process"><b>Process</b></a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="/products" data-toggle="dropdown"><b>Product</b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/apparels"><b>Apparels</b></a></li>
                  <li><a href="/accessories"><b>Accessories</b></a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/sustainability"><b>Sustainability</b></a></li>
              <li class="dropdown"><a href="/global_network"><b>Global Network</b></a></li>
              <li class="dropdown"><a href="/contact"><b>Contact Us</b></a></li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %}

      {% endblock %}

      <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About Company</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href=""><img src="{% static 'buying/images/rp-1.jpg' %}" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="">Designer Desk Essentials</a></div>
                        <div class="widget-posts-meta">23 january</div>
                      </div>
                    </li>
                  </ul><br/>
                  <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">IMPORTANT LINKS</h5>
                  <ul class="icon-list" style="color:white">
                    <li><a href="/" style="color:white">Home</a></li>
                    <li><a href="/about" style="color:white">About</a></li>
                    <li><a href="/services" style="color:white">Service</a></li>
                    <li><a href="/process" style="color:white">Process</a></li>
                    <li><a href="/sustainability" style="color:white">Sustainability</a></li>
                    <li><a href="/contact" style="color:white">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Contact Info</h5>
                  <ul class="icon-list">
                    <li><span>Address :<br/>
                      5th Floor, House 417,
                      Road 7, Baridhara DOHS, Dhaka-1206</span></li>
                    <li><span>Phone :
                      +8801798055022 (WhatsApp)
                      </span></li>
                    <li><span>Email :
                      info@gmail.com
                      </span></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Maps</h5>
                  <div class="row">
                    <a href="#" style="display: block; width: 100%; justify-content: center; align-items: center;">
                      <img src="{% static 'buying/images/rp-1.jpg' %}" alt="Post Thumbnail" style="width: 60%; height: 50%; justify-content: center; align-items: center;">
                    </a>
                  </div>
              </div>

            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2024&nbsp;<a href="/home">TitaN</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>


<!--      <div class="module-small bg-dark">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; About Company Section &ndash;&gt;-->
<!--                <div class="col-sm-3">-->
<!--                    <div class="widget">-->
<!--                        <h5 class="widget-title font-alt">About Company</h5>-->
<!--                        <ul class="widget-posts">-->
<!--                            <li class="clearfix">-->
<!--                                <div class="widget-posts-image">-->
<!--                                    <a href="#">-->
<!--                                        <img src="{{ about_company.image.url }}" alt="About Company" />-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div class="widget-posts-body">-->
<!--                                    <div class="widget-posts-title">-->
<!--                                        <a href="">{{ about_company.description|truncatewords:10 }}</a>-->
<!--                                    </div>-->
<!--                                    <div class="widget-posts-meta">{{ about_company.date }}</div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <br/>-->
<!--                        <p>{{ about_company.description }}</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Important Links Section &ndash;&gt;-->
<!--                <div class="col-sm-3">-->
<!--                    <div class="widget">-->
<!--                        <h5 class="widget-title font-alt">IMPORTANT LINKS</h5>-->
<!--                        <ul class="icon-list" style="color:white">-->
<!--                            {% for link in important_links %}-->
<!--                            <li><a href="{{ link.url }}" style="color:white">{{ link.title }}</a></li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Contact Info Section &ndash;&gt;-->
<!--                <div class="col-sm-3">-->
<!--                    <div class="widget">-->
<!--                        <h5 class="widget-title font-alt">Contact Info</h5>-->
<!--                        <ul class="icon-list">-->
<!--                            <li><span>Address: <br/>{{ contact_info.address }}</span></li>-->
<!--                            <li><span>Phone: {{ contact_info.phone }}</span></li>-->
<!--                            <li><span>Email: {{ contact_info.email }}</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Maps Section &ndash;&gt;-->
<!--                <div class="col-sm-3">-->
<!--                    <div class="widget">-->
<!--                        <h5 class="widget-title font-alt">Maps</h5>-->
<!--                        <div class="row">-->
<!--                            {% for map in footer_maps %}-->
<!--                            <a href="{{ map.url }}" style="display: block; width: 100%; justify-content: center; align-items: center;">-->
<!--                                <img src="{{ map.image.url }}" alt="Map Image" style="width: 60%; height: 50%; justify-content: center; align-items: center;">-->
<!--                            </a>-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!-- Scripts -->
    <script src="{% static 'buying/assets/lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'buying/assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'buying/assets/lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'buying/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'buying/assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'buying/assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'buying/assets/lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'buying/assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'buying/assets/lib/smoothscroll.js' %}"></script>
    <script src="{% static 'buying/assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'buying/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'buying/assets/js/plugins.js' %}"></script>
    <script src="{% static 'buying/assets/js/main.js' %}"></script>
  </body>
</html>
