{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if banner %}
<section class="module contact-page-header bg-dark">
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <div class="col-sm-6 col-sm-offset-3 text-center banner-container">
                <h2 class="module-title font-alt" style="text-align: center !important;">{{ banner.title }}</h2>
                <div class="module-subtitle font-serif">{{ banner.description|safe }}</div>
            </div>
        </div>
    </div>
</section>

<style>
/* Prevent horizontal scroll */
html, body {
    overflow-x: hidden;
}

.contact-page-header {
    position: relative;
    width: 100%;
    min-height: 380px;
    background-image: url('{{ banner.image.url }}');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.banner-container {
    position: absolute;
    top: 70%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.module-title, .module-subtitle {
    color: white;
}
@media(min-width: 768px) {
    .col-sm-offset-3 {
        margin-left: 0%;
    }
}
/* Mobile responsiveness */
@media only screen and (max-width: 500px) {
    .contact-page-header {
        min-height: 200px;
    }

    .module-title {
        font-size: 1.5em;
    }

    .module-subtitle {
        font-size: 1em;
    }
}

/* Desktop responsiveness */
@media only screen and (min-width: 768px) {
    .banner-container {
        width: 100%;
        max-width: 800px;
        text-align: center;
    }

    .module-title, .module-subtitle {
        max-width: 100%;
    }
}
</style>

{% else %}
<p>No banner available.</p>
{% endif %}

<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="font-alt">Get in touch</h4><br/>
        {% if message %}
          <p class="alert alert-info">{{ message }}</p>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="sr-only" for="full_name">Name</label>
            <input class="form-control" type="text" id="full_name" name="full_name" placeholder="Your Name*" required />
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required />
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="7" id="description" name="description" placeholder="Your Message*" required></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-block btn-round btn-d" type="submit">Submit</button>
          </div>
        </form>
      </div><br/>
      <div class="col-sm-6">
        <h4 class="font-alt">{{ additional_info.title }}</h4><br/>
        <p>{{ additional_info.description|safe }}</p>
      </div>
      <div class="col-sm-6">
        <h4 class="font-alt">{{ business_hours.title }}</h4><br/>
        <ul class="list-unstyled">
          <li>{{ business_hours.description|safe }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
