{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Dynamic Banner Section -->
<section class="module bg-dark-0 contact-page-header bg-dark"
         style="background-image: url('{{ banner.image.url }}');
          background-size: cover;
          background-position: center;
          width: 100%;
          height: auto;
          min-height: 300px; /* Adjust this based on your design requirements */">
  <div class="container">
    <div class="row" style="margin-top:5%">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">{{ banner.title }}</h2>
        <div class="module-subtitle font-serif">{{ banner.description|safe }}</div>
      </div>
    </div>
  </div>
</section>

<section class="module-medium">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">{{ global_network.title }}</h2>
        <div class="module-subtitle font-serif">{{ global_network.description|safe }}</div>
      </div>
    </div>
    <div class="row multi-columns-row">
      {% for item in global_network_data %}
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="content-box">
          <div class="content-box-image"><img src="{{ item.image.url }}" alt=""/></div>
          <h3 class="content-box-title font-serif">{{ item.title }}</h3>
          <p>{{ item.description|safe }}</p>
        </div>
        <div style="text-align:center;">
          <button style="background-color:black;text-align:center">
            <a class="btn btn-border-w btn-round" href="/contact">Contact --></a>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
