{% extends 'base.html' %}
{% load static %}
{% block content %}

 Sustainability Banner Section
{% if sustain_banner %}
<section
    class="module bg-dark-0 contact-page-header bg-dark"
    style="
        background-image: url('{{ sustain_banner.banner_image.url }}');
          background-size: cover;
          background-position: center;
          width: 100%;
          height: auto;
          min-height: 300px; /* Adjust this based on your design requirements */">
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h2 class="module-title font-alt">{{ sustain_banner.banner_title }}</h2>
                <div class="module-subtitle font-serif">{{ sustain_banner.banner_description|safe }}</div>
            </div>
        </div>
    </div>
</section>
{% else %}
<p>No banner available.</p>
{% endif %}

<br/><br/>
<!-- Sustainability About Section-->
{% for sustain_data in sustain_data %}
<section class="module pt-0 pb-0" id="about">
    <div class="row position-relative m-0">
        {% if sustain_data.image %}
        <div class="col-xs-12 col-md-6 side-image" data-background="{{ sustain_data.image.url }}" style="height:80%;"></div>
        {% else %}
        <div class="col-xs-12 col-md-6 side-image"></div>
        {% endif %}
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
            <div class="col-sm-12" style="margin-top:-60px;">
                <h2 class="module-title font-alt align-left">{{ sustain_data.title }}</h2>
                <p>{{ sustain_data.description|safe }}</p>
            </div>
        </div>
        <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
    </div>
</section>
{% endfor %}
<br/><br/>


<!-- Our Partner Certifications Section -->
{% if partner_desc %}
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Our Partner Certifications</h2>
                <div class="module-subtitle font-serif">{{ partner_desc.partner_desc|safe }}.</div>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
                {% for slider in partner_slider %}
                <div class="owl-item">
                    <div class="col-sm-12">
                        <div class="ex-product">
                            <a href="{{ slider.link }}"><img src="{{ slider.image.url }}" alt="" /></a>
                            <h4 class="shop-item-title font-alt"><a href="{{ slider.link }}">{{ slider.title }}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% else %}
<p>No partner description available.</p>
{% endif %}

{% endblock %}
